@{
    <font><marquee direction="left" style="background: Aqua">SHOP MÔ HÌNH CỦA CHÍNH====><a href="https://shopee.vn/">chuyên nhận order các dòng mô hình </a></marquee></font>
    ViewData["Title"] = "Mô Hình động";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<h1>@ViewData["Title"]</h1>
<p></p>
<p></p>
<h4>Mô hình hãng HOTTOYS:</h4>
<h5>Mô hình tỉ lệ 1/6 : 245.99$</h5>
<div class="csw-media">
    <img src="https://product.hstatic.net/1000132959/product/o1cn01bxzjfa1egfexsjdqb___58773900_9648f80db69c4384ad88efe5a1c0b5f8_master.jpg" alt="hot toys ht 1:6 mô hình người sói 2.0 – Marvelstore" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb " data-noaft="1" style="width: 183.75px; height: 245px; margin: 0px;">
    <div><small class=" mygia">245.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>
<div class="csw-media">
    <img src="https://2dbeat.com/files/action-figures/hot-toys-vgm38-spider-man-iron-spider-armor-1.jpg" alt="Mô hình Hot Toys VGM38 Spider-Man Iron Spider Armor tỉ lệ 1/6 ⋆ 2DBeat  Figure Store" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 183.75px; height: 245px; margin: 0px;">
    <div><small class=" mygia">245.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://thegioimohinh.vn/wp-content/uploads/2019/06/61166411_2021950421442917_8357298354132090880_n.jpg" alt="Mô hình Hottoys Iron Man Mark L (Mark 50) – Transformer&amp;#39;s World – Thế giới  Transformers" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 183.75px; height: 245px; margin: 0px;">
    <div><small class=" mygia">245.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://2dbeat.com/files/action-figures/Hot-Toys-MMS536-Captain-America-Avengers-Endgame-1-600x900.jpg" alt="Mô hình 1:6 Hot Toys MMS536 Captain America Avengers: Endgame ⋆ 2DBeat  Figure Store" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 183.75px; height: 245px; margin: 0px;">
    <div><small class=" mygia">245.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cdn.pancake.vn/1/s600x600/f2/1e/6e/64/3d49b4b3d8b594ac519437801bf369561ef11d8196dff1ec301533ad.jpg" alt="Hàng Orders TOYz - Mô hình cao cấp &amp;amp; mô hình chính hãng" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 183.75px; height: 245px; margin: 0px;">
    <div><small class=" mygia">245.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<h5>Mô hình tỉ lệ 1/12 : 149.99$ </h5>
<div class="csw-media">
    <img src="https://cf.shopee.vn/file/07cb7f0e9b35cc07ac1dcf264e55d23b" alt="Có Sẵn] Base Figure, Hottoys, Đế mô hình 1/6, 1/9, 1/12 có thể ghép nối |  Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">149.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/e39f5acb51c1b21e4fe7b170a4b3191b" alt="Tổng hợp Hot Toys giá rẻ, bán chạy tháng 2/2022 - BeeCost" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">149.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/895458c51128302a7f12ca4dcbc1669c" alt="Mô hình Hot Toys Ant Man 3.0 1/6 | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">149.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>
<h4>Mô hình hãng ZDTOYS:</h4>
<h5>Bản không led :24.99$</h5>
<div class="csw-media">
    <img src="https://cf.shopee.vn/file/6a974de41765ca1eadadf86349e55132" alt="Mô hình Iron Man Mark 85 Zd Toys Avengers Endgame giảm chỉ còn 400,000 đ" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">24.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/57343dd5dcacb97208f87f9561a8b79c" alt="Mô hình Thanos ZD Toys Avengers Endgame - Mô hình nhân vật | BiBiOne.vn" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">24.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cdn.mohinhcaocap.com/wp-content/uploads/2021/12/02115322/WeChat-Image_20211202113341-370x370.jpg" alt="Marvel – Mô Hình Cao Cấp" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">24.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/6ca282422afba34817d9eba76c43d96c_tn" alt="hàng có sẵn) mô hình iron man mk1 zd toys chính hãng tỉ lệ | Mô hình trang  trí | aBook.Vn" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">24.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<h5>Bản có led:39.99$</h5>
<div class="csw-media">
    <img src="https://cdn-amz.fadoglobal.io/images/I/61oky0e7JjL.jpg" alt="Mua ZDTOYS Iron Man Mark 3 Iron Man MK3 Action Figure, Luminous Edition  trên Amazon Nhật chính hãng 2022 | Giaonhan247" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px; ">
    <div><small class=" mygia">39.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/5a1aa0a2afcc0eb6b41c46ecf9471417" alt="Mô hình Hulkbuster Mark 44 2.0 Avengers Infinity War Có LED - Chính hãng ZD  Toys - MK44 - Mô hình nhân vật | BiBiOne.vn" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px; ">
    <div><small class=" mygia">39.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/59250e01bbd8227ab4459faa8e083add" alt="Mô hình ZD Toys Iron Man Mark II, Mark III Scale 1/10 (phiên bản có đèn led)  | Nông Trại Vui Vẻ - Shop" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px; ">
    <div><small class=" mygia">39.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/0e23b68672518dd666a27bf799d15fca" alt="Mô hình ZD Toys Iron Man Mark II, Mark III Scale 1/10 (phiên bản có đèn led)  | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px; ">
    <div><small class=" mygia">39.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>