@{
    <font><marquee direction="left" style="background: Aqua">SHOP MÔ HÌNH CỦA CHÍNH====><a href="https://shopee.vn/">chuyên nhận order các dòng mô hình </a></marquee></font>
    ViewData["Title"] = "Mô Hình Tĩnh";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<h1>@ViewData["Title"]</h1>
<p></p>
<p></p>
<h5>Mô hình tĩnh Tam Quốc hãng Inflames Toys : 149.99$ </h5>
<div class="csw-media">
     <img src="https://cf.shopee.vn/file/ef1eb02d8539370f78061c62cf567faf" alt="Mô hình 1/6 kiếm hiệp, tam quốc 303toys inflames osoul | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;" />
     <div><small class=" mygia">149.99$</small></div>
     <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
      <img src="https://ae01.alicdn.com/kf/H9a381b14bfc941c58f1a57a249e2d49fJ/INFLAMES-X-NEWSOUL-IFT-050-1-12-Anh-H-ng-Th-i-Tam-Qu-c-Trong.jpg_Q90.jpg_.webp" alt="INFLAMES X NEWSOUL IFT 050 1/12 Anh Hùng Thời Tam Quốc Trong Lịch Sử Trung  Quốc ZhaoYun Full Bộ Hành Động Hình Mẫu|Action Figures| - AliExpress" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
      <div><small class=" mygia">149.99$</small></div>
      <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
       <img src="https://cf.shopee.vn/file/c49091d6aa30d0832e81ed8ab1a9fc8a" alt="Order báo giá] Mô hình chính hãng Inflames 1/12: Trương Phi (Tam Quốc) |  Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
       <div><small class=" mygia">149.99$</small></div>
       <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
        <img src="https://salt.tikicdn.com/ts/tmp/34/99/2b/11df42179c9d1a15e0747a1485df609f.jpg" alt="Đồ Chơi Mô Hình Gundam Mãnh Tướng Thái Sử Từ (Tai Shi Ci - A024) kèm ngựa -  Lego Lắp ghép Tam Quốc | Tiki" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
        <div><small class=" mygia">149.99$</small></div>
        <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>
<h4>Mô hình tĩnh onepiece resin:</h4>
<h5>Mô hình tỉ lệ 1/12 : 129.99$</h5>
<div class="csw-media">
       <img src="https://cf.shopee.vn/file/7a4c3c6ad2d5bc97915f3ec21b5b1e47" alt="Mô hình thân sấm enel siêu đẹp có đèn led | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 380px; height: 380px; margin: 0px;">
       <div><small class=" mygia">129.99$</small></div>
       <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
        <img src="https://otakustore.vn/image/catalog/figure/ucs-blackbeard-resin-figure-19.jpg" alt="Thông tin tham khảo về Resin Statue" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 527px; height: 383.392px; margin: 0px;">
        <div><small class=" mygia">129.99$</small></div>
        <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
         <img src="https://product.hstatic.net/1000132959/product/img_3412_58e58ec912a845ac84a11ff3c314b82c.jpg" alt="Mô hình Sanji chân đen nhân vật mô hình one piece (38cm) – Marvelstore" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 326.587px; height: 490px; margin: 0px;">
         <div><small class=" mygia">129.99$</small></div>
         <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>       
      
<div class="csw-media">
        <img src="https://cf.shopee.vn/file/20f4b1576b8a7a5cf1c50c87c56c14d2" alt="Mô hình Figure One piece (4 mẫu) Roronoa Zoro Monkey D. Luffy Vinsmoke Sanji  Portgas Ace Cực đẹp Cỡ lớn Siêu to - Kunder | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 490px; height: 490px; margin: 0px;">
        <div><small class=" mygia">129.99$</small></div>
        <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>