@{
    <font><marquee direction="left" style="background: Aqua">SHOP MÔ HÌNH CỦA CHÍNH====><a href="https://shopee.vn/">chuyên nhận order các dòng mô hình </a></marquee></font>
    ViewData["Title"] = "Mô Hình Chibi";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<h1>@ViewData["Title"]</h1>
<p></p>
<p></p>
<h4>Mô hình WCF resin: 49.99$-199.99$</h4>
<div class="csw-media">
    <img src="https://cf.shopee.vn/file/39e82d96a440e83be89050074bb39233_tn" alt="Mô hình Naruto RESIN chính hãng - Naruto rasengan WCF - C Studio | Nông  Trại Vui Vẻ - Shop" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">49.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/20b7c801dca40796cc585c8a4c247e4d" alt="Mô hình Onepiece chính hãng - Resin WCF Team mũ rơm - Luffy, Zoro W17  Studio (W-17) | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">49.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/e46dcecf112fb65bda3da065ae9c0749" alt="Mô hình Naruto Resin chính hãng - WCF Akatsuki Pain - ST Studio | Shopee  Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">199.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/7e855f6f6989e1154de47dfea6009665" alt="Mô hình Dragonball WCF - Team Bibiday Majin - League resin | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">199.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<h4>Mô hình chibi WCF: 5.99$-15.99$</h4>
<div class="csw-media">
    <img src="https://cf.shopee.vn/file/b6c2ff758d665182b93e9d1cae80b3f3" alt="Giá 92,000đ Mô hình Wcf tổng hợp #2 so sánh đánh giá | Products - NDK" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">15.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/f3608ebf3c43d9173a65dcb17b1e7fae" alt="Mô hình one piece wcf wano - Bộ sưu tập hoạt hình truyện tranh | FAXASA.com" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">15.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="http://mohinhdep.net/wp-content/uploads/2018/07/Luffy-mohinhdep.net-6.jpg" alt="Bộ mô hình - Set WCF one piece - MÔ HÌNH ĐẸP" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">15.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://kpfigure.vn/wp-content/uploads/2020/11/O1CN0127BS6d1rgKMNuFn03_181775660.jpg" alt="WCF Kaido - KPfigure" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 270px; height: 270px; margin: 0px;">
    <div><small class=" mygia">5.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>





