@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<div class="text-center">
    <h1 class="display-4">Shop Mô Hình Của Chính</h1>
</div>
<font><marquee direction="left" style="background: Aqua">XIN CHÀO Quý KHÁCH  SĐT:0123456789 gặp MR.CHINH ====>    <a href="https://shopee.vn/">chuyên nhận order các dòng mô hình </a></marquee></font>
<p>ĐỊA CHỈ SHOP: 45/53/59 Đường DÃ TƯỢNG,Thành phố NHA TRANG</p>
<h1> Một Số sản Phẩm Gợi ý:</h1>
<h4>  Hàng mới hãng HOTTOTS 1/6 : </h4>
<div class="csw-media">
    <img src="https://product.hstatic.net/1000132959/product/o1cn01bxzjfa1egfexsjdqb___58773900_9648f80db69c4384ad88efe5a1c0b5f8_master.jpg" alt="hot toys ht 1:6 mô hình người sói 2.0 – Marvelstore" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 183.75px; height: 245px; margin: 0px;">
    <div><small class=" mygia">245.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://2dbeat.com/files/action-figures/hot-toys-vgm38-spider-man-iron-spider-armor-1.jpg" alt="Mô hình Hot Toys VGM38 Spider-Man Iron Spider Armor tỉ lệ 1/6 ⋆ 2DBeat  Figure Store" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 183.75px; height: 245px; margin: 0px;">
    <div><small class=" mygia">245.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://thegioimohinh.vn/wp-content/uploads/2019/06/61166411_2021950421442917_8357298354132090880_n.jpg" alt="Mô hình Hottoys Iron Man Mark L (Mark 50) – Transformer&amp;#39;s World – Thế giới  Transformers" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 183.75px; height: 245px; margin: 0px;">
    <div><small class=" mygia">245.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://2dbeat.com/files/action-figures/Hot-Toys-MMS536-Captain-America-Avengers-Endgame-1-600x900.jpg" alt="Mô hình 1:6 Hot Toys MMS536 Captain America Avengers: Endgame ⋆ 2DBeat  Figure Store" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 183.75px; height: 245px; margin: 0px;">
    <div><small class=" mygia">245.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cdn.pancake.vn/1/s600x600/f2/1e/6e/64/3d49b4b3d8b594ac519437801bf369561ef11d8196dff1ec301533ad.jpg" alt="Hàng Orders TOYz - Mô hình cao cấp &amp;amp; mô hình chính hãng" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 183.75px; height: 245px; margin: 0px;">
    <div><small class=" mygia">245.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<button name="button" class="btn btn-info btn-sm" value="OK" type="button" onclick="location.href='https://localhost:44355/Home/Fig1'">>Xem thêm<</button>

<h4> Mô hình OnePiece resin :</h4>
<div class="csw-media">
    <img src="https://cf.shopee.vn/file/7a4c3c6ad2d5bc97915f3ec21b5b1e47" alt="Mô hình thân sấm enel siêu đẹp có đèn led | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 380px; height: 380px; margin: 0px;">
    <div><small class=" mygia">129.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://otakustore.vn/image/catalog/figure/ucs-blackbeard-resin-figure-19.jpg" alt="Thông tin tham khảo về Resin Statue" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 527px; height: 383.392px; margin: 0px;">
    <div><small class=" mygia">129.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://product.hstatic.net/1000132959/product/img_3412_58e58ec912a845ac84a11ff3c314b82c.jpg" alt="Mô hình Sanji chân đen nhân vật mô hình one piece (38cm) – Marvelstore" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 326.587px; height: 490px; margin: 0px;">
    <div><small class=" mygia">129.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/20f4b1576b8a7a5cf1c50c87c56c14d2" alt="Mô hình Figure One piece (4 mẫu) Roronoa Zoro Monkey D. Luffy Vinsmoke Sanji  Portgas Ace Cực đẹp Cỡ lớn Siêu to - Kunder | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 490px; height: 490px; margin: 0px;">
    <div><small class=" mygia">129.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<button name="button" class="btn btn-info btn-sm" value="OK" type="button" onclick="location.href='https://localhost:44355/Home/Fig2'">>Xem thêm<</button>
<h4>Mô hình CHIBI:</h4>
<div class="csw-media">
    <img src="https://cf.shopee.vn/file/d224fbcacf320220a827a640c99c11db" alt="Mô hình One Piece Full team mũ rơm WCF chính hãng giảm chỉ còn 1,700,000 đ" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 326.587px; height: 320px; margin: 0px; ">
    <div><small class=" mygia">5.99₫</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/11ff0583b864c24c6681111ff15cdfe8" alt="Mô Hình WcF 8 Đội Trưởng Băng Râu Trắng | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 326.587px; height: 320px; margin: 0px;">
    <div><small class=" mygia">15.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.vn/file/5364e10da3a4a8a5804974cde3d82c79" alt="Mô hình WCF&amp;quot; giá tốt Tháng 5, 2021 | Mua ngay | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 326.587px; height: 320px; margin: 0px; ">
    <div><small class=" mygia">15.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="http://img.websosanh.vn/v2/users/root_product/images/mo-hinh-set-8-mo-hinh-one/mcjz1xy0cor7g.jpg" alt="Nơi bán Mô hình Set 8 mô hình One Piece WCF tv Vol.15 Alabasta - Vua hải  tặc giá rẻ nhất tháng 02/2022" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 326.587px; height: 320px; margin: 0px;">
    <div><small class=" mygia">15.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://salt.tikicdn.com/ts/product/ae/04/51/d60b7946c700fcd2159fc2547172215c.jpg" alt="Set 6 nhân vật mô hình DRAGON Ball - WCF - Mô hình CG | Samdy" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 326.587px; height: 320px; margin: 0px;">
    <div><small class=" mygia">15.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<div class="csw-media">
    <img src="https://cf.shopee.co.id/file/a1e01f268cc600ab39ed40e6a4452dc6" alt="Jual Action Figure Dragon Ball WCF Goku Freeza Cell Vegeta Vegetto Broly  Bhu Indonesia|Shopee Indonesia" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 326.587px; height: 320px; margin: 0px;">
    <div><small class=" mygia">15.99$</small></div>
    <div><small class=""><a href="https://localhost:44355/figs1" data-id="1031641021" class="add-cart-now btn btn-primary btn-sm">Mua Hàng</a></small></div>
</div>

<button name="button" class="btn btn-info btn-sm" value="OK" type="button" onclick="location.href='https://localhost:44355/Home/figchibi'">>Xem thêm<</button>
